:root {
    --default-font: "Martel Sans", sans-serif;
    --heading-font: 10px "Amatic SC", sans-serif;

    --title-h1-fontsize: 40px;
    --title-h2-fontsize: 30px;

    --nav-font: "Inter", sans-serif;
    --default-color: #002be7;
    --hover-color: #4765ec;
    --background-color: #ffffff;
    --darker-background-color: #D9D9D9;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.colored-text {
    color: var(--default-color);
}

/*CABEÇALHO*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #D9D9D9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 10%;
}


.img_logo_watchyouwant {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: 45%;
    margin-right: 20px;
}

.botoes_header {
    display: flex;
    gap: 10px;
}

.botao_assinar,
.botao_acessar {
    font: var(--heading-font);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao_acessar {
    background-color: transparent;
    color: var(--default-color);
}

.botao_assinar {
    background-color: var(--default-color);
    color: white;
}

.botao_assinar:hover {
    background-color: var(--hover-color);
}

.sessao-slogan-inicial-watchyouwant {
    margin-top: 2%;
    margin-bottom: 2%;
}

.sessao-titulo-slogan-inicial-watchyouwant {
    font-size: 40px;
    font-family: var(--default-font);
    font-weight: bold;
    text-shadow: 5px 5px 7px lightgrey;
    text-align: center;
}

.sessao-subtitulo-slogan-inicial-watchyouwant {
    font-size: 30px;
    font-family: var(--default-font);
    font-weight: bold;
    text-shadow: 5px 5px 7px lightgrey;
    text-align: center;
}

/*CARROSSEL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1000;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

/*SESSÃO SELECIONAR PLANO*/

.titulo-sessao-selecionar-plano {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    position: relative;
    font-family: var(--default-font);
    height: 100px;
}

.titulo-sessao-selecionar-plano::before,
.titulo-sessao-selecionar-plano::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid var(--default-color);
    height: 1px;
    margin: 20%;
}

.titulo-sessao-selecionar-plano::before {
    margin-right: 1rem;
}

.titulo-sessao-selecionar-plano::after {
    margin-left: 1rem;
}

.row-planos {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4%;
}

.col {
    flex: 1;
    max-width: 20%;
}

.card {
    position: relative;
    background-color: var(--default-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card.popular {
    border: 2px solid var(--default-color);
}

.ribbon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background-color);
    border: 2px solid var(--default-color);
    color: var(--default-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-family: var(--default-font);
    font-size: 0.8rem;
    font-weight: bold;
}

.card h3 {
    font-family: var(--default-font);
    font-size: 30px;
    font-weight: bold;
    margin-top: 1.0rem;
    margin-bottom: 0.5rem;
    color: var(--background-color);
    text-shadow: 2px 2px 4px black;
}

.price {
    font-family: var(--default-font);
    font-size: 24px;
    font-weight: bold;
    color: var(--background-color);
    text-shadow: 2px 2px 4px black;
    margin-top: 0;
    margin-bottom: 1rem;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    color: var(--background-color);
    padding-left: 10%;
}

.card ul li {
    font-family: var(--default-font);
    font-size: 18px;
    margin: 0.5rem 0;
    color: var(--background-color);
    text-shadow: 2px 2px 4px black;
    list-style: disc;
    text-align: left;
}

.botao-plano {
    margin-top: 5%;
    background-color: var(--background-color);
    color: var(--default-color);
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-family: var(--default-font);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.botao-plano:hover {
    background-color: #001bb5;
    color: var(--background-color);
    box-shadow: 0 0 5px white;
}

/* SESSAO BENEFICIOS */

.sessao-beneficios {
    background-color: var(--darker-background-color);
}

.titulo-sessao-beneficios {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 30px;
    position: relative;
    font-family: var(--default-font);
    height: 100px;
    padding-top: 2%;
    margin-bottom: 2%;
}

.titulo-sessao-beneficios::before,
.titulo-sessao-beneficios::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid var(--default-color);
    margin: 20%;
}

.titulo-sessao-beneficios::before {
    margin-right: 1rem;
}

.titulo-sessao-beneficios::after {
    margin-left: 1rem;
}

.row-superior-beneficios,
.row-inferior-beneficios,
.row-medio-beneficios {
    display: flex;
    justify-content: space-evenly;
}

.card-beneficios {
    display: flex;
    align-items: center;
    width: 45%;
    height: 140px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-bottom: 40px;
}

.icone-beneficio {
    margin-right: 15px;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.texto-beneficio {   
    font-weight: bold;
    font-family: var(--default-font)
}

.texto-beneficio h3 {
    margin: 0 0 10px 0;
    text-shadow: 2px 2px 1px var(--darker-background-color);
    font-size: 1.25vw;
}

.texto-beneficio p {
    margin: 0;
    font-size: 0.85vw;
    color: #666;
}

@media (max-width: 768px) {
    .texto-beneficio h3 {
        font-size: 2.5vw; 
    }

    .texto-beneficio p {
        font-size: 2vw;
    }
}

@media (max-width: 480px) {
    .texto-beneficio h3 {
        font-size: 4vw;
    }

    .texto-beneficio p {
        font-size: 3vw;
    }
}

@media (max-width: 260px) {
    .texto-beneficio h3 {
        font-size: 5.5vw;
    }

    .texto-beneficio p {
        font-size: 4vw;
    }
}

.sessao-produtos{
    background-color: var(--default-color);
    padding: 20px;
    color: white; 
}